modLoader="javafml" #mandatory
loaderVersion="${loader_version_range}" #mandatory
license="${mod_license}"
issueTrackerURL="https://github.com/TheSmartNoob880/Complicated-Bees-Genetic-Industry/issues"

[[mods]] #mandatory
modId="${mod_id}" #mandatory
version="${mod_version}" #mandatory
displayName="${mod_name}" #mandatory
displayURL="https://github.com/TheSmartNoob880/Complicated-Bees-Genetic-Industry"
#logoFile="gendustrated_bees.png" #optional
credits="Thanks to Emperdog for some code help and Filostorm for most of the textures."
authors="${mod_authors}" #optional
description='''${mod_description}'''
# A dependency - use the . to indicate dependency for a specific modid. Dependencies are optional.
[[dependencies.${mod_id}]] #optional
    modId="forge" #mandatory
    mandatory=true #mandatory
    versionRange="${forge_version_range}" #mandatory
    ordering="NONE"
    side="BOTH"

[[dependencies.${mod_id}]]
    modId="minecraft"
    mandatory=true
    versionRange="${minecraft_version_range}"
    ordering="NONE"
    side="BOTH"

[[dependencies.${mod_id}]]
    modId="complicated_bees"
    mandatory=true
    reason="This mod is an add-on for Complicated Bees"
    versionRange="[1.20.1-3.0.4,)"
    ordering="AFTER"
    side="BOTH"

[[dependencies.${mod_id}]]
modId="jei"
mandatory=false
reason="recipe lookups"
versionRange="[15.20,)"
ordering="AFTER"
side="CLIENT"